.entry-header {
	@include rem(padding-bottom, 1);
	@include breakpoint(medium) {
		@include rem(padding-bottom, 1.5);
	}
}

article p {
	@include rem(padding, 0 0 1 0);
}

.article-button, .all-events-link a {
	display: inline-block;
	background: $blue;
	color: white;
	@include rem(padding, 0.1 0.5);
	@include rem(margin, 0.5 0.5 0 0);
}

.all-events-link a {
	@include rem(padding, 0.5 0.5);
}

article h2 {
	@include rem(margin-bottom, 0.5);
}

article h3 {
	@include rem(margin-bottom, 0.5);
}

article li {
	@include rem(line-height, 1.5);
}