.events-table th {
	text-align: left;
}

.events-table td {
	vertical-align: top;
	width: auto;
}

.events-table tr {
	border-bottom: 1px solid $verylightgray;
}

.event-date {
	background-color: $blue;
	color: white;
	@include rem(width, 5);
	@include rem(padding, 0.5 0);
	@include rem(margin, 0.25 0);
	text-align: center;
	border: 3px solid $lightblue;
}

.events-table img {
	float: left;
	@include rem(margin-right, 1);
}

.event-details {
	@include rem(padding, 0.5 0);
}