// Home Events

.all-events-link {
	@include breakpoint(small) {
		display: none;
	}
}

.home-events-widget li {
	border-top: 1px solid $verylightgray;
	@include rem(padding, 1 0);
}

.home-events-widget h3 {
	@include rem(padding-bottom, 1);
}

// Events Page
.em-search-wrapper {
	display: none;
	@include rem(max-width, 35);
	
}

.em-search-wrapper .em-search-main .em-search-field {
	padding-left: 0;
}

.em-search-wrapper .em-search-submit {
	background: $blue !important;
}

.events-table th {
	text-align: left;
	width: auto;
}

.events-table td {
	vertical-align: top;
	width: auto;
}

table {
	cellspacing: 0;
}

.events-table tr {
	border-bottom: 1px solid $verylightgray;
}

.events-table .event-description {
	@include rem (padding-left, 0.5);
	@include breakpoint(small) {
		@include rem(padding-left, 2);		
	}
}

.event-date {
	background-color: $blue;
	color: white;
	@include rem(width, 4);
	@include rem(padding, 0.5 0);
	@include rem(margin, 0.25 0);
	text-align: center;
	border: 3px solid $lightblue;
	@include breakpoint(small) {
		@include rem(width, 5);		
	}
}

.events-table img {
	float: left;
	@include rem(margin-right, 1);
}

.events-table .event-details {
	width: 100%;
	@include rem(padding, 0.5 0 0.5 0.5);
	@include breakpoint(small) {
		@include rem(padding, 0.5 0 0.5 2);		
	}
}

.event-details img {
	border: 3px solid $verylightgray;
	overflow: none;
	@include rem(max-width, 4);
	@include rem(max-height, 4);
	@include breakpoint(small) {
		@include rem(max-width, 6);
		@include rem(max-height, 6);
	}
}

// Single Event Page
.single-event-img {
	max-width: 50%;
}