.site-footer-wrapper {
	background-color: $darkgray;
	position: relative;
}

.site-copyright {
	text-align: center;
	color: $verylightgray;
	@include rem(padding, 0.5 0);
	@include rem(font-size, 0.8);
}