.top-nav {
	text-align: center;
	@include rem(padding, 0.5 0);
	border-bottom: 1px solid $verylightgray;
	@include breakpoint(small) {
		text-align: left;
	}
}

.top-nav li {
	display: inline;
	@include rem(margin-right, 2);
}

.top-nav li a {
	color: $darkgray;
}

.banner {
	@include rem(margin, 1 0);
}

.banner svg {
	min-width: 100%;
	height: auto;
}