.top-nav {
	text-align: center;
	@include rem(padding, 0.5 0);
	border-bottom: 1px solid $verylightgray;
	@include breakpoint(small) {
		text-align: left;
	}
}

.top-nav li {
	display: inline;
	@include rem(margin-right, 2);
}

.top-nav li a {
	color: $darkgray;
	transition: color 0.2s ease;
}

.top-nav li a:hover {
	color: $red;
}

.banner {
	@include rem(margin-top, 1);
}

.banner svg {
	min-width: 100%;
	height: auto;
}

.main-nav {
	background: $darkgray;
}

.main-nav li {
	float: left;
	border-right: 1px solid $lightgray;
}

.main-nav a {
	display: block;
	@include rem(padding, 1);
	color: white;
	transition: background 0.2s ease;
}

.main-nav a:hover {
	background: $red;
}