/*@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('../fonts/AvenirLTStd-Black.otf') format('opentype');
}
*/

body {
	font-family: 'Open Sans', sans-serif;
}

.top-nav a, {
	text-transform: uppercase;
	font-weight: $bold;
	@include rem(font-size, 0.8);
}

.main-nav a {
	@include rem(font-size, 0.8);
	text-transform: uppercase;
	font-weight: bold;
	@include breakpoint(small) {
		@include rem(font-size, 1);
	}
}

h1 {
	@include rem(font-size, 1.2);
	@include rem(line-height, 1.5);
	font-weight: $bold;
	@include breakpoint(small) {
		@include rem(font-size, 1.5);
	}
	@include breakpoint(medium) {
		@include rem(font-size, 2);
		@include rem(line-height, 2);
	}
}

h2 {
	@include rem(font-size, 1);
	@include rem(line-height, 1.2);
	font-weight: $bold;
	@include breakpoint(small) {
		@include rem(font-size, 1.2);
	}
	@include breakpoint(medium) {
		@include rem(font-size, 1.5);
		@include rem(line-height, 1.5);
	}
}

.events-heading {
	@include rem(font-size, 1);
	@include rem(line-height, 1.5);
	font-weight: $bold;
	@include breakpoint(small) {
		@include rem(font-size, 1.2);
	}
	@include breakpoint(medium) {
		@include rem(font-size, 1.5);
		@include rem(line-height, 1.5);
	}
}

article h3 {
	font-weight: $bold;
	@include rem(font-size, 1);
}

article p {
	@include rem(line-height, 1.4);
}

.article-button, .all-events-link a {
	color: white;
	text-transform: uppercase;
	@include rem(font-size, 1);
}

.events-table thead {
	font-weight: $bold;
	@include rem(line-height, 1.5);
}

.event-weekday {
	font-weight: $bold;
	@include rem(font-size, 1);
}

.event-day {
	font-weight: $bold;
	@include rem(font-size, 1.2);
	@include rem(line-height, 1.5);
	@include breakpoint(small) {
		@include rem(font-size, 2);
		@include rem(line-height, 2.5);
	}
}

.event-month {
	@include rem(font-size, 0.8);
	text-transform: uppercase;
}

.event-details {
	@include rem(line-height, 1.2);
	@include breakpoint(small) {
		@include rem(line-height, 1.5);
	}
}

.sidebar h3, .home-events-title {
	text-transform: uppercase;
	font-weight: $bold;
	@include rem(font-size, 0.8);
	@include breakpoint(small) {
		@include rem(font-size, 1);
	}
}

.home-events-widget ul {
	font-weight: $bold;
}

/* Sidebar Calendar */

.em-calendar .month_name {
	@include rem(font-size, 1);
}

.em-calendar tbody {
	@include rem(font-size, 1);
}