body {
	font-family: sans-serif;
}

.top-nav a {
	text-transform: uppercase;
	font-weight: $bold;
	@include rem(font-size, 0.8);
}

.event-weekday {
	font-weight: $bold;
	@include rem(font-size, 1);
}

.event-day {
	font-weight: $bold;
	@include rem(font-size, 2);
	@include rem(line-height, 2.5);
}

.event-month {
	@include rem(font-size, 0.8);
	text-transform: uppercase;
}