@import "bits";
@import "header";
@import "typography";

img {
	max-width: 100%;
}

.fullwidth {
	@include rem(max-width, 100);
	margin-left: auto;
	margin-right: auto;
}

.two-thirds {
	width: 100%;
	@include breakpoint(small) {
		width: 62.5%;
	}
}